main{
    
    display: flex;  
    flex-direction: column;  
    justify-content: center;
    align-items: center;

    width: 100%;
    

}

.main-centralizer-container{
    display: flex;  
    flex-direction: column;  
    justify-content: end;
    align-items: center;

    gap: 5rem;
}

.main-page{

    width: 100%;
    
}

.main-page-txt{
    
    /*width: clamp(10%, 80%,90%);*/

    width: 100%;

    display: flex;
    justify-self: center;
    align-items: center;
    flex-direction: column;
   
}

.main-page-txt h1 {    

    width: clamp(10%, 90%,100%);

    text-align: center;

    font-family: Inconsolata;
    font-size: 2rem;
    font-weight: bold;
    color: hsl(0, 0%, 100%);

    margin-bottom: 1.64vh;

}

.main-page-txt p{
    
    width: clamp(10%, 70%,100%);

    text-align: center;

    font-family: Inconsolata-Medium;
    font-size: clamp(0.5rem, 1rem, 1.4rem);
    color: hsl(252, 6%, 83%);

    margin-bottom: 4.55vh;
}

#gradient-text{

    background: linear-gradient(90deg, hsl(7, 86%, 67%), hsl(0, 0%, 100%));
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#orange-text-email{
    color: hsl(7, 88%, 67%);
}

#ticket-main{

    display: flex;
    flex-direction: column;
    gap: 1rem;

}

.ticket-main{

    display: flex;
    justify-content:space-between;
    align-items: center;

    background-image: url("../../assets/images/pattern-ticket.svg");
    background-repeat: no-repeat;
    background-size: contain;
    
    aspect-ratio: 600 / 280;

    max-width: 500px;

    padding: clamp(0vw, 0vw, 20vw);

    
}

.code {
    
    display: flex;
    justify-content: end;

    color: hsl(0, 0%, 100%);

    opacity: 20%;
    
    font-family: Inconsolata;
    font-size: 2.3rem;

    rotate: 90deg;

}

.ticket-header{

    display: flex;
    flex-direction: column;
    align-items: start;

    margin-left: 1rem; 
    
    margin-top: 1rem;
    margin-bottom: 4rem;

}

.ticket-header-info-text{

    padding: 0.5rem 3rem 0;

    color: hsl(0, 0%, 100%);
    font-family: Inconsolata;

}


#avatar-img{
   
    width: 70px;
    height: 70px;

    border-radius: 15px;
    
}

.ticket-footer{

    display: flex;
    align-items: center;

    padding-left: 1rem;
    padding-bottom: 1rem; 

    gap: 1rem;
}

.ticket-footer-github{

    display: flex;
    flex-direction: column;

    gap: 0.3rem;

}

.ticket-footer-github h1{

    color: hsl(0, 0%, 100%);
    font-family: Inconsolata;
    font-weight: 550;
    font-size: 1.5rem;

}

.ticket-footer-github-info-text{

    display: flex;
    align-items: center;

    color: hsl(0, 0%, 100%);

    font-family: Inconsolata;
    font-weight: 400;
    
    
    gap: 0.5rem;

}